doctype html
html
  - const theTitle = data ? data.name : title
  head
    meta(name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=8.0,width=device-width,user-scalable=yes")
    title= theTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    block header
  body
    nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark      
      a.navbar-brand(href='/')= theTitle
      block navigation
    block content